.new-competition {
  background-color: #a8cbff;
  padding: 1rem 0;
  margin: auto auto;
  width: 50rem;
  max-width: 30rem;
  text-align: center;
}

.new-competition__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  flex-direction: column;
  color: #1f1f1f;
}

.new-competition__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
  margin-left: 5rem;
}

.new-competition__control input {
  font: inherit;
  padding: 1rem;
  border-radius: 6px;
  border: 0.5px solid #1f1f1f;
  width: 20rem;
  max-width: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.new-competition button {
  margin: 2% 2%;
  padding: 1rem;
}

.new-competition__modal {
  position: fixed;
  left: 50%;
  top: 30vh;
  z-index: 100;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.new-competition__control.invalid input {
  border-color: red;
  background: #ffd7d7;
}

.new-competition__control.invalid label {
  color: red;
} 