.new-competition__controls {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    flex-direction: column;
    color: #1f1f1f;
  }
  
  .new-competition__control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .new-competition__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #1f1f1f;
    width: 20rem;
    max-width: 100%;
  }