.competitorsTable {
  color: black;
  text-align: center;
  padding-top: 1rem;
}

.competitorsTable__table {
  text-align: center;
}

.disqualified {
  --bs-table-accent-bg: #686868;
  --bs-table-striped-bg: #686868;
  --bs-table-hover-bg: #686868;
  color: #888888;
  --bs-table-striped-color: #888888;
  --bs-table-hover-color: #888888;
}
