.competitorsTable {
  color: black;
  text-align: center;
  padding-top: 1rem;
}

.competitorsTable__table {
  text-align: center;
}

.disqualified {
  --bs-table-accent-bg: grey;
  --bs-table-striped-bg: grey;
  --bs-table-hover-bg: grey; 
}
