.competitions {
  padding: 1rem;
  background-color: #9a9a9a;
  margin: 2rem auto;
  width: 55rem;
  max-width: 95%;
}

.competitions__background {
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;
}

.back-to-list {
  display: flex;
  position: fixed;
  flex-direction: column;
  font-size: 12px;    
}

.back-to-list button {
  background-color: #1f1f1f;
  color: #a8cbff;
  margin-bottom: 15px;
  padding: 0.5rem;
}

.back-to-list button:hover {
  background-color: #a8cbff;
  color: #1f1f1f;
}

.icon {
  margin-right: 1rem;
}

.competitorsTable {
  text-align: center;
  color: white;
  background-color: #2c3034;
  margin-top: 2rem;
}

.buttonGroup {
  display: inline-flex;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  margin-top: 10px;
  width: 100%;
}

.buttonGroup__input {
  width: 25px;
}

.buttonGroup__label {
  padding: 8px 25px;
  font-size: 14px;
  font-family: sans-serif;
  color: white;
  background-color: #1f1f1f;
  cursor: pointer;
  transition: 0.1s;
  width: 20%;
}

.buttonGroup__label:not(:last-of-type) {
  border-right: 1px solid black;
}

.buttonGroup__input:checked {
  background: #a8cbff;
  color: #1f1f1f;
}

.form {
  color: white;
  font-size: 20px;
}

.form button{
  margin: 10px 0;
}

.toast {
  position: absolute;
  z-index: 6;
  top: 5%;
  right: -15%;
}
