.competition-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 2rem 0;
  background-color: #a8cbff;
}

.competition-item.finished {
  background-color: grey;
}

.competition-item__description {
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
  width: 75%;
}

.competition-item h2 {
  color: #1f1f1f;
  flex: 1;
  margin: 0.5rem 1rem;
}

.competition-item h4 {
  display: inline;
  color: #1f1f1f;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
}

@media (min-width: 580px) {
  .competition-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .competition-item__description h2 {
    font-size: 1.25rem;
    word-wrap: break-word;
  }

  .competition-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}
