.button {
  width: 50%;
  font: inherit;
  padding: 1rem 1.5rem;
  color: white;
  background: #1f1f1f;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  cursor: pointer;
  border-radius: 12px;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #3f3f3f;
  color: #ffffff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}

@media (min-width: 740px) {
  .button {
    width: auto;
  }
}
